<style type="text/css" media="screen">

		.bg-fullscreen{
			position: relative;
			background-color: #9016dc;
			height: 1200px;
			max-height: 1400px;
		}
		.x-margin{
			padding-top: 20%;
		}

</style>
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
	<div class="container-fluid">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<a class="navbar-brand" href="#">Booking Thai Marano</a>
		</div>
	</div>
</nav>
<div class="bg-fullscreen">
	<div class="container">
		<div class="x-margin">
			<div class="jumbotron">
				<form action="" method="POST" role="form">
					<legend>Booking Form</legend>
					<div class="form-group">
						<label for="">Company Name</label>
						<input type="text" class="form-control" id="" placeholder="Input field">
					</div>
					<div class="form-group">
						<label for="">Package</label>
						<div class="radio">
							<label>
								<input type="radio" name="" id="input" value="" checked="checked">
								Radio Box
							</label>
							<label>
								<input type="radio" name="" id="input" value="" checked="checked">
								Radio Box
							</label>
							<label>
								<input type="radio" name="" id="input" value="" checked="checked">
								Radio Box
							</label>
							<label>
								<input type="radio" name="" id="input" value="" checked="checked">
								Radio Box
							</label>
							<label>
								<input type="radio" name="" id="input" value="" checked="checked">
								Radio Box
							</label>
							<label>
								<input type="radio" name="" id="input" value="" checked="checked">
								Radio Box
							</label>
						</div>
					</div>
					<div class="form-group">
						<label for="">Starting date</label>
						<input type="date" class="form-control" id="" placeholder="Input field">
					</div>
					<div class="form-group">
						<label for="">E-mail</label>
						<input type="text" class="form-control" id="" placeholder="Input field">
					</div>
					<div class="form-group">
						<label for="">Note</label>
						<textarea class="form-control" name=""></textarea>
					</div>
					<button type="submit" class="btn btn-primary">Submit</button>
				</form>
			</div>
		</div>
	</div>
</div>